<md-toolbar>
    <div class="md-toolbar-tools" layout="row">

        <h2 flex>
            <span ui-sref="dashboard.dashboard-home">Salesman</span>
        </h2>
        <span flex></span>
        <md-menu>
            <div class="cursor-hand" ng-click="$mdOpenMenu($event);checkNotifications()"
                 aria-label="Notification">
                <ng-md-icon ng-show="oldNotifications.val == notifications.length || notifications.length < 1" icon="notifications_on"
                            class="fill-white">
                </ng-md-icon>
                <!--<ng-md-icon ng-hide="oldNotifications.val == notifications.length" icon="notifications_on"
                            style="fill: red"></ng-md-icon>&ndash;&gt;-->
                <div ng-hide="oldNotifications.val == notifications.length || notifications.length < 1"
                     class="cursor-hand material-icons mdl-badge mdl-badge--overlap" data-badge="{{notifications.length}}">
                    notifications_on
                </div>
            </div>
            <md-menu-content width="4">
                <md-list>
                    <md-list-item class="md-2-line"
                                  ng-class="{notificationsListRead :!noti.read}"
                                  ng-click="readNotification(noti,$index,true)"
                                  ng-repeat="noti in notifications | orderBy:'-time'">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{noti.data.length}} order received from {{noti.salesman | capitalize}}</h3>

                            <p>{{noti.time | date :"MM/dd/yyyy 'at' h:mma"}}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>


                    <md-list-item class="md-2-line"
                                  ng-class="{notificationsListRead :!mongo.read}"
                                  ng-repeat="mongo in mongoNotifications | orderBy:'-time'"
                                  ng-click="readNotification(mongo,$index,false)">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{mongo.data.length}} order received from {{mongo.salesman | capitalize}}</h3>

                            <p>{{mongo.time | date :"MM/dd/yyyy 'at' h:mma"}}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>


                </md-list>
            </md-menu-content>
        </md-menu>
        <md-menu flex>
            <md-list-item>
                <img ng-src="{{cropper.croppedImage || admin.profilePic || './images/blank-profile-pic.jpeg'}}"
                     class="toot-bar-avatar md-avatar"
                     ng-click="$mdOpenMenu($event)">
            </md-list-item>
            <md-menu-content width="4">
                <md-list>

                    <md-list-item ng-click="viewAdminDetails(admin)" class="md-2-line">
                        <md-divider></md-divider>
                        <ng-md-icon icon="face" class="fill-white md-avatar-icon"></ng-md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>Your Profile</h3>
                        </div>
                    </md-list-item>

                    <md-list-item ng-click="updateAdminProfile(admin)" class="md-2-line">
                        <md-divider></md-divider>
                        <ng-md-icon icon="format_align_right" class=" md-avatar-icon fill-white"></ng-md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>Update Profile</h3>
                        </div>
                    </md-list-item>


                    <md-list-item ng-show="company" ng-click="viewCompanyDetails(admin)" class="md-2-line">
                        <md-divider></md-divider>
                        <ng-md-icon icon="account_balance" class=" md-avatar-icon fill-white"></ng-md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>Company</h3>
                        </div>
                    </md-list-item>

                    <md-list-item ng-click="createCompanyForm()" class="md-2-line" ng-hide="company">
                        <md-divider></md-divider>
                        <ng-md-icon icon="account_balance" class=" md-avatar-icon fill-white"></ng-md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>Create Company</h3>
                        </div>
                    </md-list-item>

                    <md-list-item ng-click="doLogOut()" class="md-2-line">
                        <md-divider></md-divider>
                        <ng-md-icon icon="logout" class=" md-avatar-icon fill-white"></ng-md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>Logout</h3>
                        </div>
                    </md-list-item>

                </md-list>
            </md-menu-content>
        </md-menu>


    </div>
</md-toolbar>


<ui-view name="dashboardContent"></ui-view>

<md-sidenav md-component-id="salesman" class="md-sidenav-left">
    <md-toolbar class="md-toolbar-tools">
        <h2>
            <span>Salesman</span>
        </h2>
        <span flex></span>
    </md-toolbar>
    <md-content class="p-nav-list">

        <div ng-hide="users.length" layout="column" layout-padding layout-align="center center">
            <h2 flex="50" ng-show="users.length == 0">
                Empty
            </h2>

            <div flex="50" ng-hide="users" class="" layout="column" layout-align="center center">
                <md-progress-circular md-diameter="100"></md-progress-circular>
            </div>
        </div>

        <md-list ng-show="users.length" class="nav-list">
            <md-list-item layout="row">
                <md-input-container flex="100">
                    <label>
                        <ng-ng-md-icon icon="search" class="name" style="fill: #E91E63" size="15"></ng-ng-md-icon>
                        Search
                    </label>
                    <input ng-model="searchText" type="text">
                </md-input-container>
            </md-list-item>
            <md-divider></md-divider>


            <md-list-item ng-click="viewUserDetails(user)" class="md-2-line"
                          ng-repeat="user in users | filter:searchText | orderBy:'lastName'">
                <md-divider></md-divider>
                <img ng-src="{{user.profilePic || croppedImage || './images/blank-profile-pic.jpeg' }}"
                     class="md-avatar" ng-class="{online:online.length,offline:!online.length}"/>

                <div class="md-list-item-text" layout="column">
                    <h3>{{ user.firstName | capitalize}} {{ user.lastName | capitalize}}</h3>
                    <h4>{{ user.userName }}</h4>
                    <h4>{{ online | json}}</h4>
                </div>
            </md-list-item>

            <md-divider></md-divider>
        </md-list>


    </md-content>
    <!--  <button ng-click="showUserFrom()"
              class="md-button md-icon-button md-raised md-primary md-fab md-fab-bottom-right">
          <ng-md-icon icon="add" style="fill: #fff"></ng-md-icon>
      </button>-->
    <button ng-click="showUserFrom()"
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored md-button  md-fab md-fab-bottom-right">
        <i class="material-icons">add</i>
    </button>
</md-sidenav>
<md-sidenav md-component-id="products" class="md-sidenav-left">
    <md-toolbar class="md-toolbar-tools">
        <h2>
            <span>Products</span>
        </h2>
        <span flex></span>
    </md-toolbar>
    <md-content class="p-nav-list">

        <div ng-hide="products.length" layout="column" layout-padding layout-align="center center">
            <h2 flex="50" ng-show="products.length == 0">
                Empty
            </h2>

            <div flex="50" ng-hide="products" class="" layout="column" layout-align="center center">
                <md-progress-circular md-diameter="100"></md-progress-circular>
            </div>
        </div>

        <md-list ng-show="products.length" class="nav-list">
            <md-list-item layout="row">
                <md-input-container flex="100">
                    <label>
                        <ng-ng-md-icon icon="search" class="name" style="fill: #E91E63" size="15"></ng-ng-md-icon>
                        Search
                    </label>
                    <input ng-model="searchText" type="text">
                </md-input-container>
            </md-list-item>
            <md-divider></md-divider>


            <md-list-item ng-click="viewProductDetails(product)" class="md-2-line"
                          ng-repeat="product in products | filter:searchText | orderBy:'lastName'">
                <md-divider></md-divider>
                <img ng-src="{{product.img || './images/product_blank' }}"
                     class="md-avatar"/>

                <div class="md-list-item-text" layout="column">
                    <h3>{{ product.name | capitalize}} {{ product.size | capitalize}}</h3>
                    <h4>{{ product.price }}</h4>
                </div>
            </md-list-item>

            <md-divider></md-divider>
        </md-list>


    </md-content>
    <!-- <button ng-click="addProductFrom()"
             class="md-button md-icon-button md-raised md-primary md-fab md-fab-bottom-right">
         <ng-md-icon icon="add" style="fill: #fff"></ng-md-icon>
     </button>-->

    <button ng-click="addProductFrom()"
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored md-button  md-fab md-fab-bottom-right">
        <i class="material-icons">add</i>
    </button>
</md-sidenav>
