<md-content class="login-card md-whiteframe-24dp user-detail-md-content">
    <div layout="row">
        <div flex="60">
            <img class="user-detail-profile-pic"
                 ng-src="{{product.profilePic || croppedImage || './images/product_blank'}}">
        </div>
        <div flex layout="row" layout-align="end start">
            <button class="md-button md-raised md-primary md-icon-button" ui-sref="dashboard.editProduct">
                <ng-md-icon icon="edit" style="fill: #fff /*#E91E63*/" class="md-secondary md-hue-3"></ng-md-icon>
            </button>
            <button class="md-button md-raised md-primary md-icon-button">
                <ng-md-icon icon="delete" style="fill: #fff /*#E91E63*/" class="md-secondary md-hue-3"></ng-md-icon>
            </button>
        </div>
    </div>

    <div layout="row">
        <div flex>
            <h4>{{product.name | capitalize}}</h4>
            <span>Product Name</span>
        </div>
        <div flex>
            <h4>Rs.{{product.price}}</h4>
            <span>Price</span>
        </div>
    </div>
</md-content>
